/* GENERAL RULES */
body {
  align-items: center;
  background-color: #535454;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

h1 {
  color: #FECB60;
  font-size: 10vmin;
}

h2 {
  font-size: 7vmin;
}

p {
  font-size: 3vmin;
}

.hidden {
  display: none!important;
}

/* TOP BAR */

.top-bar {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  margin-bottom: 40px;
}

.back-button {
  margin-right: 30%;
}

.icon {
  background-color: white;
  margin-left: 30%;
}

/* HOME */

.home-dashboard,
.hydration-dashboard,
.sleep-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

.welcome-card {
  background-color: white;
  border: solid, 10px, white;
  border-radius: 10px;
  color: #535454;
  display: flex;
  flex-direction: column;
  height: 40%;
  text-align: center;
  width: 90%;
  margin-bottom: 10px;
}

.profile-pic {
  height: 100px;
  width: 100px;
  align-self: center;
}

.step-goal-compare {
  font-size: 5vmin;
}

.main-buttons {
  font-family: "Lato", sans-serif;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  height: 40%;
  width: 90%;
  align-items: center;
  margin: 10px;
  justify-content: center;
}

/* HYDRATION */

.hydration-dashboard {
  font-size: 6vmin;
  text-align: center;
  width: 85%;
}

.daily-hydration {
  min-height: 30%;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

.weekly-hydration {
  height: 70%;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

/* SLEEP */
.sleep-dashboard {
  font-size: 6vmin;
  text-align: center;
  width: 85%;
}

.sleep {
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  height: 25%;
  width: 90%;
  align-items: center;
  margin: 10px;
  justify-content: center;
}
