/* GENERAL RULES */

body {
  align-items: center;
  background-color: #535454;
  color: #535454;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

h1 {
  color: #FCEDA9;
  font-size: 10vmin;
}

h2 {
  font-size: 7vmin;
}

p {
  font-size: 3vmin;
}

.hidden {
  display: none!important;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
}

.homedash,
.hydrationdash,
.sleepdash,
.activitydash {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hydrationdash,
.sleepdash,
.activitydash {
  font-size: 6vmin;
  line-height: 50%;
  text-align: center;
  width: 85%;
}

.hydrationdash--hydration,
.sleepdash--sleep,
.activitydash--activity {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}



/* TOP BAR */

.topbar {
  display: flex;
  height: 15vh;
  justify-content: space-around;
  margin-bottom: 5%;
  width: 75%;
}

.topbar__backbtn  {
  border: none;
  border-radius: 10px;
  height: 50%;
  margin-right: 20%;
  margin-top: 10%;
}

.topbar__backbtn--backarrow {
  height: 100%;
}

.topbar--icon {
  background-color: white;
  border-radius: 10px;
  height: 50%;
  margin-left: 20%;
  margin-top: 10%;
}

/* HOME */

.homedash__welcome {
  background-color: white;
  border: solid, 10px, white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
  width: 90%;
}

.homedash__welcome--profilepic {
  align-self: center;
  height: 100px;
  width: 100px;
}

.mainbtns {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#step-goal-compare {
  font-size: 5vmin;
}

.mainbtns--btn {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #535454;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 5vmin;
  justify-content: center;
  margin: 10px;
  padding-bottom: 2%;
  width: 90%;
}

.mainbtns--btnicon {
  height: 100px;
  padding: 10px;
}

/* HYDRATION */

.hydrationdash__daily {
  min-height: 30%;
  width: 90%;
}

.hydrationdash__weekly {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

/* SLEEP */

.sleepdash__daily{
  display: flex;
  height: 50%;
  width: 90%;
}

.sleepdash__daily--dailyinfo {
  margin: 10px;
  width: 50%;
}

.sleepdash__weekly {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;

}

/* ACTIVITY */


.activitydash__daily {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
}

.activitydash__weekly {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

/* DESKTOP VIEW */

@media screen and (min-width: 615px) {
/* DASHBOARDS */

  .homedash,
  .sleepdash,
  .activitydash {
    align-items: center;
    display: flex;
    flex-direction: row;
  }


  /* SLEEP */

  .sleepdash__daily {
    display: flex;
    height: 100%;
    width: 50%;
  }

  .sleepdash__weekly {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;

  }

  /* ACTIVITY */


  .activitydash__daily {
    height: 100%;
    width: 50%;
  }

  .activitydash__weekly {
    height: 100%;
    width: 50%;
  }
}
